// out: null

/*
File Name: palette.less
Date: 05/02/20
Programmer: Ellyn Culmsee
*/

@lightColor: #fff;
@blackColor: #000;
@darkColor: #212121;
@greyColor: #bebdbb;

@color1: #ff0000;
@color2: #a10219;
@color3: #127573;
@color4: #0971b3;

@darkenColor1: darken(@color1, 20%);
@darkenColor2: darken(@color2, 20%);
@darkenColor3: darken(@color3, 10%);
@darkenColor4: darken(@color4, 20%);
@darkenDarkColor: darken(@darkColor, 10%);
@darkenGreyColor: darken(@greyColor, 20%);

@lightenColor1: lighten(@color1, 10%);
@lightenColor2: lighten(@color2, 20%);
@lightenColor3: lighten(@color3, 10%);
@lightenColor4: lighten(@color4, 20%);
@lightenDarkColor: lighten(@darkColor, 10%);
@lightenGreyColor: lighten(@greyColor, 20%);

/* Terra? color palette from https://www.colourlovers.com/palette/292482/Terra */