/*
File Name: style.less
Date: 05/26/19
Programmer: Ellyn Culmsee
*/

@import 'palette.less';
@import 'mixins.less';

/* MOBILE STYLESHEET */

html {
    font-size: 20px;
}

/* UNIVERSALS, HEADER, ALT HEADER, NAV, FOOTER */
body {
    .bodyFont();
    main, footer {
        padding: 0 2rem;
    }
    h1, h2, h3 {
        .headingFont();
    }
    h1, h2, h3, p, img {
        padding-bottom: 1rem;
    }
    p, ul {
        line-height: 1.6;
    }
    img, button {
        display: block;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        color: @color2;
        font-size: 1.5rem;
    }
    h3 {
        color: @color4;
        font-size: 1.4rem;
    }
    a {
        color: @color3;
        text-decoration: none;
    }
    img {
        padding-top: 1rem;
    }
    button {
        .specialFont();
        border: 1px solid @lightenColor4;
        border-radius: 2rem;
        box-shadow: 2px 2px @color4;
        background-color: @lightenColor4;
        color: @lightColor;
        font-size: 1.25rem;
        padding: .5rem 0;
        width: 60%;
    }
    header {
        .heroFixed();
        background-color: @darkColor;
        background-image: url("../images/ace1.jpg");
        height: 100vh;
        width: 100vw;
        h1 {
            background-color: @darkColor;
            color: @lightColor;
            line-height: 1.2;
            padding-top: .5rem;
            text-transform: none;
        }
        p {
            .specialFont();
            .bckgrdWhiteOpacity();
            border-bottom: 2px solid @darkColor;
            border-top: 2px solid @darkColor;
            font-weight: 700;
            letter-spacing: .2rem;
            margin-top: 26rem;
            padding: 1.25rem 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .altHeader {
        background-image: url("");
        height: 5rem;
        p {
            display: none;
        }
    }
    nav {
        color: @lightColor;
        position: absolute;
        top: 0;
        width: 100%;
        i {
            font-size: 2rem;
            padding: .75rem 1rem;
        }
        .fa-times {
            width: 100%;
            position: fixed;
            z-index: 100;
        }
        ul {
            background-color: @darkColor;
            font-size: 1.25rem;
            line-height: 2;
            padding-left: 1.25rem;
            padding-top: 3.5rem;
            position: fixed;
            top: 0;
            width: 100%;
            li {
                a {
                    .colorWhiteOpacity();
                }
                .currentLink {
                    color: @lightColor;
                }
            }
            li:last-of-type {
                padding-bottom: 1rem;
            }
        }
    }
    footer {
        background-color: @lightenGreyColor;
        color: @darkColor;
        padding-top: 4rem;
        article {
            padding-bottom: 2.5rem;
            h1, h2 {
                color: @darkenColor4;
                padding-bottom: 1rem;
                text-align: left;
            }
            img {
                display: inline;
                padding-right: 1rem;
                width: 25%;
            }
        }
        .weatherFeed {
            display: none;
        }
        small {
            font-size: .75rem;
            p {
                color: @darkenGreyColor;;
                padding-top: 4rem;
                text-align: center;
            }
        }
    }
}

/* HOME PAGE */
body {
    main {
        background-color: @lightColor;
        section:nth-child(1), section:nth-child(2) {
            img:nth-child(2), img:nth-child(3) {
                display: none;
            }
        }
        section {
            padding-bottom: 2rem;
            padding-top: 2rem;
            img {
                text-align: center;
                width: 75%;
            }
        }
        .darkSection {
            .colorWhiteOpacity();
            background-color: @darkColor;
            margin: 0 -2rem;
            h2 {
               .colorWhiteOpacity();
            }
            figure:nth-child(2), figure:nth-child(3) {
                display: none;
            }
            figure {
                figcaption {
                    padding: 0 2rem;
                }
            }
            .carouselCircles {
                margin: 0 auto;
                padding-top: 1rem;
                width: 35%;
                img {
                    display: inline;
                    width: 21%;
                }
            }
        }
        .socialMedia {
            display: none;
        }
    }
}

/* MULTISPORTS PAGE */
main {
    header {
        background-color: @lightenGreyColor;
        background-image: url("");
        height: 2rem;
        margin-left: -2rem;
        padding: 1.5rem 0 3rem 0;
    }
    section {
        article {
            ul {
                font-size: 1.2rem;
                i {
                    color: @lightenColor4;
                    padding-right: 1rem;
                }
            }
        }
        .event02, .event03, .event05, .event06 {
            display: none;
        }
    }
}

/* REGISTER & CONTACT PAGES */
main {
    section {
        form {
            padding: 1rem 0;
            input, select {
                background-color: @lightenGreyColor;
                border: none;
                display: block;
                font-size: 1rem;
                margin: 0 auto;
                margin-top: .5rem;
                padding: .25rem;
                width: 50%;
            }
            label {
                padding-left: 3rem;
            }
            article {
                input, label {
                    display: inline;
                }
                label {
                    padding: 0;
                }
            }
            button {
                background-color: @darkColor;
                border: none;
                border-radius: 0;
                box-shadow: none;
                margin-top: 1rem;
            }
        }
    }
}

/* FAQs PAGE */
main {
    section {
        article {
            aside {
                padding-bottom: 1rem;
                h3 {
                    display: inline;
                    text-align: left;
                }
                i {
                    color: @darkColor;
                    font-size: 1.75rem;
                    padding-left: 6rem;
                    padding-top: .75rem;
                }
            }
        }
    }
}

/* TABLET STYLESHEET

The following CSS affects all screen sizes larger than 480 pixels wide. */

@media only screen and (min-width: 481px) {
    
    body {
        main, footer {
            padding: 0 6rem;
        }
        h1 {
            font-size: 1.6rem;
        }
        h2 {
            font-size: 1.6rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        header {
            p {
                margin-top: 40rem;
            }
        }
        footer {
            padding-top: 6rem;
        }
    }
    
    /* HOME PAGE */
    body {
        main {
            section {
                padding-bottom: 4rem;
                padding-top: 4rem;
                img {
                    width: 70%;
                }
            }
            .darkSection {
                margin: 0 -6rem;
                figure {
                    figcaption {
                        padding: 0 6rem;
                    }
                }
                .carouselCircles {
                    width: 12%;
                    img {
                        width: 20%;
                    }
                }
            }
            .socialMedia {
                display: block;
                margin: 0 -6rem;
                article {
                    text-align: center;
                    a {
                        img {
                            display: inline-block;
                            padding: 1rem;
                            width: 22%;
                        }
                    }
                }
            }
        }
    }
    
    /* MULTISPORTS PAGE */
    main {
        header {
            margin-left: -6rem;
        }
        section {
            article {
                ul {
                    padding-left: 3rem;
                }
            }
        }
    }
    
    /* REGISTER & CONTACT PAGES */
    main {
        section {
            form {
                button {
                    margin-top: 2rem;
                    width: 50%;
                }
            }
        }
    }
    
    /* FAQs PAGE */
    main {
        section {
            article {
                aside {
                    h3 {
                    }
                    i {
                        padding-left: 15rem;
                    }
                }
            }
        }
    }
    
}

/* DESKTOP STYLESHEET

The following CSS affects all screen sizes larger than 1024 pixels wide. */

@media only screen and (min-width: 1025px) {
    
    html {
        font-size: 18px;
    }
    
    body {
        header {
            h1 {
                height: 5rem;
                width: 35%;
            }
            p {
                font-size: .9rem;
                margin: 0 auto;
                margin-top: 25rem;
                width: 40%;
            }
        }
        nav {
            right: 0;
            top: 0;
            width: 65%;
            ul {
                height: 5rem;
                font-size: .9rem;
                font-weight: 700;
                line-height: 1;
                padding-left: 0;
                padding-top: 2rem;
                position: relative;
                text-align: center;
                li {
                    display: inline-block;
                    padding-right: 2rem;
                }
                li:last-of-type {
                    padding-bottom: 0;
                    padding-right: 0;
                }
            }
        }
        footer {
            font-size: 16px;
            section {
                article {
                    padding: 1rem;
                    h2 {
                        font-size: 1.25rem;
                    }
                    img {
                        width: 15%;
                    }
                }
            }
        }
    } 
    
    /* HOME PAGE */
    body {
        main {
            section:nth-child(1), section:nth-child(2) {
                img:nth-child(2), img:nth-child(3) {
                    display: inline;
                }
            }
            .section {
                section {
                    h2 {
                        padding-bottom: 2rem;
                    }
                    article {
                        padding-bottom: 2rem;
                        text-align: center;
                        img {
                            display: inline-block;
                            padding: .5rem;
                            width: 30%;
                        }
                    }
                    button {
                        margin-top: 2rem;
                        width: 40%;
                    }
                } 
                section:first-of-type {
                    padding-right: 2rem;
                }
                section:last-of-type {
                    padding-left: 2rem;
                }
            }
            .darkSection {
                margin: 0 -6rem;
                article {
                    padding: 0 4rem;
                    figure:nth-child(2), figure:nth-child(3) {
                        display: inline-block;
                    }
                    figure {
                        padding: 0 1rem;
                        img {
                            display: block;
                            width: 100%;
                        }
                        figcaption {
                            font-size: .9rem;
                            padding: 0;
                        }
                    }
                    }
                .carouselCircles {
                    width: 25%;
                }
            }
        }
    }
    
    /* MULTISPORTS PAGE */
    main {
        section {
            h3:last-of-type {
                padding-bottom: 2rem;
            }
            .event02, .event03, .event05, .event06 {
                display: inline-block;
            }
            .event {
                img {
                    width: 15rem;
                }
            }
        }
    }
    
    /* REGISTER & CONTACT PAGES */
    main {
        section {
            form {
                label {
                    padding-left: 10rem;
                }
                article {
                    margin: 0 auto;
                    width: 50%;
                    input {
                        width: 10%;
                    }
                }
            }
        }
    }
    
/* FAQs PAGE */
    main {
        section {
            article {
                aside {
                    border: 1px solid @greyColor;
                    border-top: none;
                    padding-left: 1rem;
                    h3 {
                    }
                    i {
                        padding-left: 5rem;
                    }
                }
                .first {
                    border-top: 1px solid @greyColor;
                }
                .answer {
                    background-color: @lightenGreyColor;
                    padding: 2rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }


}