/*
File Name: style.less
Date: 05/26/19
Programmer: Ellyn Culmsee
*/

@import 'palette.less';
@import 'mixins.less';

/* MOBILE STYLESHEET */

img {
  width: 10%;
}

/* TABLET STYLESHEET

The following CSS affects all screen sizes larger than 480 pixels wide. */

@media only screen and (min-width: 481px) {
    
}

/* DESKTOP STYLESHEET

The following CSS affects all screen sizes larger than 1024 pixels wide. */

@media only screen and (min-width: 1025px) {
    
}