/*
File Name: style.less
Date: 05/26/19
Programmer: Ellyn Culmsee
*/

@import 'palette.less';
@import 'mixins.less';

/* MOBILE STYLESHEET */

html {
    font-size: 18px;
}

body {
    font-family: 'Nunito', sans-serif;
    main, footer {
        padding: 0 2rem;
    }
    h1, h2 {
        font-family: 'Jost', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    img {
        width: 30%;
    }
    header {
        border-bottom: 1px solid @darkColor;
        height: 100vh;
        width: 100vw;
        h1 {
            padding-top: 10rem;
            text-align: center;
        }
        p {
            border-bottom: 1px solid @darkColor;
            border-top: 1px solid @darkColor;
            margin-top: 21rem;
            padding: 1.25rem 0;
            text-align: center;
        }
    }
    nav {
        position: fixed;
        top: 0;
        i {
            font-size: 2.5rem;
            padding: .75rem 1rem;
        }
        ul {
            padding-left: 1.25rem;
        }
    }
    footer {
        border-top: 1px solid @darkColor;
        padding-top: 4rem;
        article {
            padding-bottom: 2.5rem;
            h1, h2 {
                padding-bottom: 1rem;
            }
            img {
                padding-right: 1rem;
                width: 25%;
            }
        }
        article:last-of-type {
            display: none;
        }
        small {
            font-size: .9rem;
            p {
                padding-top: 4rem;
                text-align: center;
            }
        }
    }
}

/* TABLET STYLESHEET

The following CSS affects all screen sizes larger than 480 pixels wide. */

@media only screen and (min-width: 481px) {
    
}

/* DESKTOP STYLESHEET

The following CSS affects all screen sizes larger than 1024 pixels wide. */

@media only screen and (min-width: 1025px) {
    
}